.img_size{
	width:30%;
	height: 130px;
}
.p1
{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}
.div_size
{
	position:relative;
	width: 100%;
	margin-left: 10px;
}


p
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	height: 200px;
}
@media(min-width: 992px)
{
	.col1,.col2,.col3,.col4,.col2_1,.col2_2,.col3_1
	{
		float: left;
		border: 1px solid white;
	}
	.col1
	{
		width: 24%;
		margin-left: 10px;
	}
	.col2
	{
		width: 24%;
	}
	.col3
	{
		width: 24%;
	}
	.col4
	{
		width: 24%;
	}
	.col2_1
	{
		margin-top: -35px;
		width:48.2%;
	}
	.col2_2
	{
		margin-top: -35px;
		width:48.2%;
	}
	.col3_1
	{
		margin-top: -35px;
		width:96.6%;
	}

}




@media(min-width: 768px) and (max-width: 991px)
{
	.col1,.col2,.col3,.col4,.col2_1,.col2_2,.col3_1
	{
		float: left;
		border: 1px solid white;
	}
	.col1
	{
		width: 48.2%;
		margin-left: 10px;
	}
	.col2
	{
		width: 48.2%;

	}
	.col3
	{
		margin-top: -35px;
		margin-left: 10px;
		width: 48.2%;

	}
	.col4
	{
		margin-top: -35px;
		width: 48.2%;
	}
	.col2_1
	{
		margin-top: -35px;
		width:48.2%;
	}
	.col2_2
	{
		margin-top: -35px;
		width:48.2%;
	}
	.col3_1
	{
		margin-top: -35px;
		width:96.6%;
	}

}
@media(min-width:441px) and (max-width: 480px) 
{
	.col1,.col2,.col3,.col4,.col2_1,.col2_2,.col3_1
	{
		float: left;
		border: 1px solid white;
	}
	.col1
	{
		width: 96.6%;
		
	}
	.col2
	{
		margin-top: -35px;
		width: 96.6%;
	}
	.col3
	{
		margin-top: -35px;
		width: 96.6%;
	}
	.col4
	{
		margin-top: -35px;
		width: 96.6%;
	}
	.col2_1
	{
		margin-left:-9px;
		margin-top: -35px;
		width:96.6%;
	}
	.col2_2
	{
		margin-left:-9px;
		margin-top: -35px;
		width:96.6%;
	}
	.col3_1
	{
		margin-left:-9px;
		margin-top: -35px;
		width:96.6%;
	}

}