.td
{
	text-decoration: none;
}

.img1
{
	height:55px;
	width:15%;
	margin-top:2px;
	margin-left: 2%;
}
body.b1
{
	background-image:url(Images/yo1.png);
	background-attachment:fixed;
	background-size:100% 100%;
	min-height:600px;
	min-width:1015px;
	background-repeat:no-repeat;
}
a.button{
	float:right;
	-moz-appearance: button;
	-webkit-border-radius:0px;
	border-radius:0px;
	-webkit-appearance:groupbox;
    appearance: button;
	color:#FFFFFF;
	border:2px solid #ffffff;
	text-decoration:none;
	padding:10px 20px 10px 20px;
	transition-delay:.05s;
	background-color:#483C32;
	margin-top:9px;
	margin-bottom:13px; 
	margin-right:20px;

}

a.button:hover{
	background-color:#FFFFFF;
	color:#000000;
	opacity:1;
}
.head{
	position:fixed;
	height:60px;
	width:100%;
	min-width:1015px;
	background-color:#566D7E;
	opacity:0.95;
	color:#FFFFFF;
	float:left;
	margin:0px 0px 0px 0px;
	left:0px; top:0px;
	overflow:hidden;
}

a.hm2{
	text-decoration:none;
	color:#FFFFFF;
	float:right;
	margin-right:50px;
	margin-top:25px;
}
.fth
{
	color:#ffffff;
	font-size: 20px;
	align-content: left;
	background-color:#347235;
	height:40px;
}
.re-fth
{
	color: #ffffff;
	align-content: center ;
	background-color:#4CC552;
	height:37px;
	text-decoration: none;
}
.re-fth1
{
	color: #3f3f3f;
	align-content: center ;
	background-color:#89C35C;
	height:37px;
	text-decoration: none;
	  
}
.fth_cont
{
	color:#ffffff;
	font-size: 20px;
	align-content: left;
	background-color:#ADDFFF;
	height:136px;
}
.fth_cont1
{
	color:#ffffff;
	font-size: 20px;
	align-content: left;
	background-color:#ADDFFF;

}
.sec_1
{
	height:155px ;
	background-color:#E5E4E3;
}
.th_1
{
	align-content:middle ;
	background-color:#483C32;
	color: #ffffff;
}
.abt_us
{
	align-content:center; 
	background-color:#566D7E;
	width:100%;
	color: #ffffff;
}
.abt_us1
{
	align-content:left 
	width:100%;
	background-color: #E5E4E3;
	color: #000000;
}
.ftr_sign
{
	margin-top: 235px;
}
.ftr
{
	background-color: #566D7E;
	color: #000000;
}
.fr_reg
{
	text-align: center;
	background-color:#483C32;
	color: #ffffff;
}
.fr_reg1
{
	background-color: #C1BCB7;
	margin-left: 35%;
}
.fr_reg2
{
	background-color: #483C32;

}
.cntry
{
	width: 92.3%;
	max-width: 92.3%;
}
.for_book
{
	background-color: #87918a;

}
.for_regtop
{
	margin-top: 170px;
}
.for_regtop1
{
	margin-top: 248px;
}
div.slider {
	overflow: hidden;
	width:100;
	margin-left:0.1%;
	margin-top:75px;
	margin-bottom:10px;
	-moz-box-shadow: 0 0 5px #aad4e5;
	-webkit-box-shadow: 0 0 5px #aad4e5;
	-o-box-shadow: 0 0 5px #aad4e5;
	box-shadow: 0 0 5px #aad4e5;

}
div.slider figure img { width:14.285714%;height:380px; }
div.slider figure {
  position:relative;
  z-index:-1;
  width: 700%;
  margin: 0;
  left:0;
  font-size: 0;
  animation: 30s slide infinite;
}

@keyframes slide {
0% {left:0%;}
6% {left:0%;}
9% {left:-100%;}
23% {left:-100%;}
26% {left:-200%;}
40% {left:-200%;}
43% {left:-300%;}
58% {left:-300%;}
60% {left:-400%;}
74% {left:-400%;}
77% {left:-500%;}
91% {left:-500%;}
94% {left:-600%;}
100% {left:-600%;}
}
div li:nth-child(1):hover
{
	background-color: #566D7E;
	cursor: pointer;
}
div li:nth-child(2):hover
{
	background-color: #ffffff;
	cursor: pointer;
}
div li:nth-child(3):hover
{
	background-color: #566D7E;
	cursor: pointer;
}
div li:nth-child(4):hover
{
	background-color: #ffffff;
	cursor: pointer;
}
div a:hover
{
	text-decoration: none;
	color:#483C32;
}
